.navbar-light {
    background-color: #1d3557 !important;
    font-family: "Datatype", monospace;
}

.navbar-brand {
    font-size: 2em;
    margin-right: 1.2em;
    color: #f1faee;
}

.navbar-brand:hover {
    color: #457b9d;
}

.navbar-brand:focus,
.navbar-brand:active {
    color: #f1faee !important;
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}

.nav-item {
    font-size: 1.5em;
    font-weight: 200;
    margin: 0 0.5em;
}

.nav-link {
    color: #f1faee;
}

.nav-link:hover {
    color: #457b9d !important;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-link:focus {
    color: #f1faee !important;
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}

.navbar-nav .nav-item.active .nav-link:hover {
    color: #457b9d !important;
}